<form [formGroup]="form">
    <div class="container-login">
        <div class="imgcontainer">
            <img src="../../assets/images/angular.png" alt="Avatar" class="avatar">

        </div>


        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput name="email" placeholder="Enter a Username / Email address  " formControlName="email">
            <!--mat-icon matSuffix>sentiment_very_satisfied</mat-icon -->
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>   
        <!--mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
            <input matInput name="password" placeholder="Password" formControlName="password" type="password">
        </mat-form-field-->
        <button mat-raised-button color="primary" (click)="login()" class="buttonLogin">Login</button>
        <button mat-raised-button color="primary" (click)="signUp()" class="buttonLogin">Signup</button>

    </div>

    <div class="form-buttons">
        

        <button class="button button-secondary" (click)="newTask()">Create Tasks</button>

        <button class="button button-secondary" (click)="getAllTasks()">Get Tasks</button>

    </div>

    <br>
    <div class="form-field">
        <label>Task id:</label>
        <input name="task_id" formControlName="task_id">
        <button class="button button-secondary" (click)="deleteTask()">Delete Tasks</button>
    </div>


    <table>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.description}}</td>
        </tr>
    </table>
</form>