<div *ngIf="vehicle">
  <h2>{{vehicle.name}} properties</h2>
  <table>
    <tr>
      <td><label>ID: </label></td>
      <td>{{vehicle.id}}</td>
    </tr>
    <tr>
      <div class="form-group row">
      <td><label class="col-sm-2 col-form-label">Name: </label></td>
      <div class="col-sm-30">
      <td><input [(ngModel)]="vehicle.name" placeholder="name"  class="form-control" /></td>
    </div>
    </div>
    </tr>
    <tr>
        <div class="form-group row">
      <td><label class="col-sm-2 col-form-label">Type: </label></td>
      <div class="col-sm-30">
      <td><input [(ngModel)]="vehicle.type" placeholder="type"  class="form-control" /></td>
    </div>
    </div>
    </tr>
    <tr>
        <div class="form-group row">
      <td><label class="col-sm-2 col-form-label">Mass: </label></td>
      <div class="col-sm-30">
      <td><input [(ngModel)]="vehicle.mass" placeholder="mass"  class="form-control" /></td>
      </div>
    </div>
    </tr>
  
  </table>
</div>